<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/hypestyle@0.1.5/dist/css/hypestyle.min.css"
        />
        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
        <title>Uploaded</title>
    </head>
    <body class="bg-black">
        <h1 class="text-center text-green-dark-1 mt-2 font-md">
            You have successfully uploaded an image!
        </h1>
        <br />
        <p class="text-center text-white">
            Use this url to view it:
            <a
                class="text-primary-dark-1 c-pointer"
                target="_blank"
                id="image-url"
                value="http://localhost:3001/images/<%- image %> "
                href="/images/<%- image %> "
                ><%- image %>
            </a>
        </p>
        <br />
        <div class="w-full text-center">
            <button id="copy" class="btn btn-white ff-monospace font-sm">
                🔗 Copy image url
            </button>
        </div>
        <br />
        <div class="w-full text-center">
            <button class="btn-white ff-monospace font-sm">
                <a href="https://imghost.hypll.org">➕ Upload a new image</a>
            </button>
        </div>

        <script>
            const copyBtn = document.getElementById("copy");

            copyBtn.addEventListener("click", function () {
                const target = document.getElementById("image-url");
                navigator.clipboard.writeText(target);
            });

            copyBtn.addEventListener("click", function () {
                copyBtn.innerText = "✅ Copied!";

                setTimeout(function () {
                    copyBtn.innerText = `🔗 Copy image url`;
                }, 2000);
            });
        </script>
    </body>
</html>
